.parameters-bar {
  width: 110px;
  border-right: black solid 1px;
}

.parameter-text {
  font-size: 30px;
  font-weight: 400;
  height: 200px;
  position: relative;
}

span {
  transform: rotate(-90deg);
  width: 200px;
  position: absolute;
  bottom: 95px;
  left: -15px;
}

.grid {
  height: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  border-top: black solid 1px;
}
